"*":
  "autocomplete-plus": {}
  core:
    packagesWithKeymapsDisabled: [
      "spell-check"
    ]
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "6e9f2a93-9b99-bd74-4aa6-ab7331f31795"
  "spell-check": {}
  welcome:
    showOnStartup: false
